@font-face {
    font-family: Fredoka;
    src: url("/fonts/Fredoka.ttf") format("truetype");
}
.heading {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    background-color: azure;
    color: black;
}
.heading h1 {
    height: 50px;
    font-size: 50px;
    font-family: Fredoka, sans-serif;
}
.heading p {
    background-color: black;
    border-radius: 8px;
    font-size: 25px;
    color: white !important;
    font-family: Fredoka, sans-serif !important;
}
.heading img {
    height: 50px;
    width: 50px;
    margin-left: auto;
}
body {
    background-color: #020c34;
    color: white;
}
.game {
    box-sizing: border-box;
    width: 98%;
    margin: 10px auto 0;
    border-radius: 8px; /*she is a real heart breaker (jk)*/
    border: 2px solid black;
}
.hud {
    display: flex;
    justify-content: space-between;
}