@font-face {
    font-family: "Fredoka";
    src: url("fonts/Fredoka.ttf") format("truetype");
}
.wiki-page { 
    display: none; 
}
.wiki-page.active { 
    display:block;
}
body {
    font-family: Fredoka, sans-serif;
    background-color: cornflowerblue;
}
h1 h2 {
    font-size:200%;
}
.pagename {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2d3b54;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}
.directory {
    width: 50%;
    border: 2px solid blue;
    border-radius: 8px;
    border-collapse: collapse;
    fill: rgb(174, 197, 217);
    color: black;
}
.directory th td tr {
    fill: aliceblue;
    border: 2px solid blue;
}
.spt dt {
    font-weight: bolder;
    font-size: 125%;
}
#home {
    font-family: Fredoka, sans-serif;
    background-color: rgb(161, 190, 244);
}
#nojavascript, #nopage {
    background-color: rgb(255, 157, 157);
}

.video-container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* Automatically calculates the exact height from the width */
    display: block;
    border: 0;
}