@font-face {
    font-family: "Fredoka";
    src: url("fonts/Fredoka.ttf") format("truetype");
}
.wiki-page { 
    display: none; 
}
.wiki-page.active { 
    display:block;
}
body {
    font-family: Fredoka, sans-serif;
    background-color: cornflowerblue;
}
.pagename {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2d3b54;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
}
.directory {
    width: 50%;
    border: 2px solid blue;
    border-radius: 8px;
    border-collapse: collapse;
    fill: aliceblue;
    color: black;
}
#home {
    font-family: Fredoka, sans-serif;
    background-color: rgb(161, 190, 244);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-container {
    position: relative;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 0;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
}