@font-face {
    font-family: "Fredoka";
    src: url("fonts/Fredoka.ttf") format("truetype");
}
body {
    font-family: Fredoka, sans-serif;
    background-color: rgb(203, 222, 255);
    color: rgb(1, 1, 109);
}