@font-face {
    font-family: "Fredoka";
    src: url("/fonts/Fredoka.ttf") format("truetype");
}
body {
    background-color: blue;
    color: black;
    font-family: Fredoka, sans-serif;
}
.main {
    background-color: lightblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
article {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #222222;
    color: white;
    min-height: 200px;
    width: 90%;
    align-self: center;
}